.login {
    min-height: 100vh;
}

.bg-image1 {
    background-image: url('krystal-ng-O07o2Cd_vX0-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.login-heading {
    font-weight: 300;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}
